<mat-dialog-actions>
    <button mat-raised-button (click)="openDialog()">Faible (Exemples: Cataracte, Chir mammaire, Chir de la main, Arthroscopie genou/épaule)= réalisable sous bithérapie</button>
    <button mat-raised-button (click)="openDialog2()">Intermédiaire (exemples: Gastrectomie, Rectum, Thyroide, Prothèse épaule) = réalisables sous aspirine seule</button>
    <button mat-raised-button (click)="openDialog3()">Elevé (exemples: Résection hépatique; DPC; Néphrectomie; Neurochirurgie) = non réalisable sous AAP</button>
    


</mat-dialog-actions>