<mat-dialog-actions>
    <button mat-raised-button (click)="openDialog()">Faible: Prévention primaire par aspirine</button>
    <button mat-raised-button (click)="openDialog2()">Moyen: Prévention secondaire par aspirine ou clopidogrel:prévention cardiovasculaire, AOMI, ATCD AVC</button>
    <button mat-raised-button (click)="openDialog3()">Elevé: Bithérapie AAP pour stent coronaire ˃ 1 mois, sans haut risque de thrombose et IDM ˃ 6 mois *</button>
    <button mat-raised-button (click)="openDialog4()">Très élevé: Bithérapie AAP pour stent coronaire : stent < 1 mois, stent à haut risque thrombose < 6 mois, IDM < 6 mois *</button>


</mat-dialog-actions>


<div class="reference">
    <h3 style="text-decoration: underline;"><strong></strong></h3>
    <p>*: Stent à haut risque de thrombose=  ATCD de thrombose de stent sous bithérapie AAP ; Maladie coronaire diffuse ; IRC (CrCl&lt;60ml/mn) ; Traitement d’une occlusion coronaire chronique ;  Stent de la dernière artère coronaire perméable ; Au moins 3 stents implantés   ; Au moins 3 lésions traitées ; Bifurcation avec 2 stents implantés ; Longueur totale de stent &gt; 60 mm</p>
  </div>