<mat-dialog-actions class="resized-dialog">
    <button style="line-height: 2; width: 350px; height: 500px;" mat-raised-button class="resized-button" (click)="openDialog()">Faible: Stent nu > 6 semaines; Stent actif > 6 à 12 mois; Syndrome coronarien aigu > 6 semaines à 1 an</button>
    <button style="line-height: 2; width: 350px; height: 500px;" mat-raised-button class="resized-button" (click)="openDialog2()">Elevé: tout type de stent &lt; 6 semaines; Stent actif &lt; 6 à 12 mois; Syndrome coronarien aigu &lt; 6 semaines</button>



</mat-dialog-actions>