
<mat-dialog-actions class="resized-dialog">
    <button style="line-height: 2; width: 350px; height: 500px;" mat-raised-button class="resized-button" (click)="openDialog()">Faible: Acte diagnostic +/– biopsie; Pose de prothèse biliaire ou pancréatique; Entéroscopie assistée sans polypectomie; Prothèse oesophage</button>
    <button style="line-height: 2; width: 350px; height: 500px;" mat-raised-button class="resized-button" (click)="openDialog2()">Elevé: Polypectomie; Mucosectomie; Dissection sous muqueuse; Traitement endoscopique des varices; Dilatation; Gastrostomie; CPRE + sphinctérotomie ou ampullectomie; Echoendoscopie + biopsie</button>



</mat-dialog-actions>