<mat-dialog-actions class="resized-dialog">
    <button style="line-height: 1.5; width: 250px; height: 300px;" mat-raised-button class="resized-button" (click)="openDialog1()">Hémorragie critique (hémorragies intracérébrales ou dans un organe critique (oculaire par exemple)).</button>
    <button style="line-height: 1.5; width: 250px; height: 300px;" mat-raised-button class="resized-button" (click)="openDialog2()">Hémorragie grave (présence au moins un des critères suivants : hémorragie  non contrôlable par les moyens usuels ; instabilité hémodynamique ; nécessité d'un geste hémostatique urgent ; transfusion de CG ; localisation menaçant le pronostic vital ou fonctionnel (intracrânienne, intra spinale, intraoculaire, péricarde, hémothorax…).</button>
    <button style="line-height: 1.5; width: 250px; height: 300px;" mat-raised-button class="resized-button" (click)="openDialog3()">Hémorragie non grave</button>

</mat-dialog-actions>
