<mat-dialog-actions>
    <button mat-raised-button (click)="openDialog1()">AOD et acte invasif programmé *</button>
    <button mat-raised-button (click)="openDialog2()">AOD et endoscopie digestive **</button>
    <button mat-raised-button (click)="openDialog3()">AOD et chirurgie orale ***</button>
    <button mat-raised-button (click)="openDialog4()">AOD et acte invasif non programmé ****</button>
    <button mat-raised-button (click)="openDialog5()">AOD et hémorragie aigue</button>


</mat-dialog-actions>


<div class="reference">
    <h3 style="text-decoration: underline;"><strong></strong></h3>
    <p>*: Gestion des Anticoagulants Oraux Directs pour la chirurgie et les actes invasifs programmés : propositions réactualisées du Groupe d'Intérêt en Hémostase Périopératoire (GIHP)-‐Septembre 2015.</p>
  </div>
<div class="reference">
    <h3 style="text-decoration: underline;"><strong></strong></h3>
    <p>**: Endoscopy in patients on antiplatelet or anticoagulant therapy: British Society of Gastroenterology (BSG) and European Society of Gastrointestinal Endoscopy (ESGE) guideline update. Endoscopy. 2021; 53: 947-969.</p>
  </div>
  <div class="reference">
    <h3 style="text-decoration: underline;"><strong></strong></h3>
    <p>***: SFCO/ Gestion péri-opératoire des patients traités par antithrombotiques en chirurgie orale/ Recommandations/ Juillet 2015.</p>
  </div>
  <div class="reference">
    <h3 style="text-decoration: underline;"><strong></strong></h3>
    <p>****: Gestion des anticoagulants oraux en urgence. Conférence d’actualisation 2019 – SFAR.</p>
  </div>