<mat-dialog-content>
    Dernière prise AVK J-5 AVEC relai HBPM ou HNF 48h après la dernière prise de Previscan ou de Coumadine, 24 h après celle du Sintrom; Arrêt HNF IV SE H -6-4, arrêt HNF S/C H-12-8; arrêt HBPM H-24. Contrôle INR J-1. Si INR ˃ 1,5  ( >1,2 si neurochirurgie) donner 5 mg Vit K per os et contrôle INR à J0. Pas de contrôle du TCA ou de l’activité anti-Xa à J0.  Reprise AVK à J0 ou J1 ET HBPM ou HNF à dose curative si le risque hémorragique est contrôlé à partir H6 PO. Arrêt héparine après 2 INR efficaces à 24 heures d’intervalle.  

</mat-dialog-content>
