<mat-dialog-actions class="resized-dialog">
    <button style="line-height: 1.5; width: 350px; height: 500px;" mat-raised-button class="resized-button" (click)="openDialog()">INR compris entre 2 et 3 ET absence de risque médical associé (prise d’un autre médicament ou comorbidité interférant avec l’hémostase ou avec l’équilibre du traitement anticoagulant)</button>
    <button style="line-height: 1.5; width: 350px; height: 500px;" mat-raised-button class="resized-button" (click)="openDialog1()">INR > 3 OU présence d’un risque médical associé (prise d’un autre médicament ou comorbidité interférant avec l’hémostase ou avec l’équilibre du traitement anticoagulant)</button>


</mat-dialog-actions>