<mat-dialog-actions>
    <button mat-raised-button (click)="openDialog()">AVK et acte invasif programmé</button>
    <button mat-raised-button (click)="openDialog2()">AVK et endoscopie digestive *</button>
    <button mat-raised-button (click)="openDialog3()">AVK et chirurgie Orale ** </button>
    <button mat-raised-button (click)="openDialog4()">AVK et acte invasif non programmé ***</button>
    <button mat-raised-button (click)="openDialog5()">AVK et hémorragie aigue ***</button>


</mat-dialog-actions>

<div class="reference">
    <h3 style="text-decoration: underline;"><strong></strong></h3>
    <p>*: Endoscopy in patients on antiplatelet or anticoagulant therapy: British Society of Gastroenterology (BSG) and European Society of Gastrointestinal Endoscopy (ESGE) guideline update. Endoscopy. 2021; 53: 947-969.</p>
  </div>
<div class="reference">
    <h3 style="text-decoration: underline;"><strong></strong></h3>
    <p>**: SFCO/ Gestion péri-opératoire des patients traités par antithrombotiques en chirurgie orale/ Recommandations/ Juillet 2015.</p>
  </div>
<div class="reference">
    <h3 style="text-decoration: underline;"><strong></strong></h3>
    <p>***: Gestion des anticoagulants oraux en urgence. Conférence d’actualisation 2019 – SFAR.</p>
  </div>

 